

/*
  Global
*/
:root {
    /* App Color */
    --color-primary: var(--color-black);
    --color-accent: var(--color-blue);
    --color-text: var(--color-white);
  
    /* Color list */
    --color-white: #ffffff;
    --color-indie-pink: rgb(214,174,211);
    --color-green: #02573a;
    --color-yellow: rgb(233,228,199);
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;
  
    /* size */
    --max-size-width: 1200px;
  }
  
  /* 
    Commons 
  */
  * {
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
  }
  

  @font-face {
    font-family: 'Pretendard-Regular';
    font-weight: 300 400 500 600 700 800 900;
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

  body{
    /* Font-Type */
    margin: 0;
    
  }
  h1, h2, h3, p, ul, nav {
    margin: 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  button {
    background-color: transparent;   
    border: 0;
    outline: 0;
  }
  button:focus {
    /* outline: 1px solid var(--color-white); */
  }
  .max-container {
    max-width: var(--max-size-width);
    margin: auto;
    /* border: 1px solid red; */
  }
  .section {
    padding: 4rem; 
    text-align: center;
  }
  .title {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: var(--color-green);
  }
  .title.white {
    color: white !important;
  }
  
  
  .description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: var(--color-green);
  }
  .description.white {
    color: white !important;
  }

  .flex {
    display: flex;
  }
  .center {
    align-items: center;
    justify-content: center;
  }


  /*
    header
  */
  .header {
    background-color: var(--color-yellow);
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  .header__logo {
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .header__logo__title {
    font-size: 1.8rem;
    color: var(--color-text);
  }
  .header__logo__img {
    width: 36px;
    height: 36px;
    /* padding-right: 8px; */
  }
  .header__menu {
    display: flex;
    gap: 4px;
  }

  
  .header__menu__item {
    padding: 8px 16px;
    color: var(--color-green);
    font-weight: 600;
  }
  
  .header__menu__item.active {

    border: 2px solid var(--color-indie-pink);
    border-radius: 4px;
  }
 
  

  .header__toggle {
    display: none;
    color: var(--color-indie-pink);
    font-size: 1.5rem;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
  }


  /*
    Home
  */


#home {
    background-color: var(--color-yellow);
    color: var(--color-green);
    padding: 7rem 1rem 3rem 1rem;
    text-align: center;
}

.avatar_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    margin: 0 auto;
}


/* .dotted_wrapper {
  display: inline-block;
  padding: 5px;
  border: 6px dotted var(--color-green);
  border-radius: 20px;
  background-color: transparent;
  width: fit-content;
} */


.home__avatar {
  display: block;
  width: 180px;
  height: auto;
  border-radius: 20px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.35);
    
}
.home__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: left;
    opacity: 0;
    transform: translateX(-100px); /* 왼쪽에서 시작 */
    animation: slideIn 0.8s ease-out forwards;
    font-size: clamp(1.5rem, 4vw, 2.5rem); /* 최소, 뷰포트 기준, 최대 */
    white-space: nowrap;  /* 줄바꿈 방지 */
}

@keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
.home__title--strong {
    color: var(--color-indie-pink);
    font-size: 2.7rem;
    font-size: clamp(1.5rem, 4vw, 2.5rem); /* 최소, 뷰포트 기준, 최대 */
    white-space: nowrap;  /* 줄바꿈 방지 */
}
.home__description {
    font-size: 1.3rem;
    margin: 0;
}
.home__contact {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 2rem;
    background-color: var(--color-indie-pink);
    font-weight: bold;
    border-radius: 4px;
    color: var(--color-white);
    
}
.home__contact:hover {
    color: var(--color-text);
    background-color: var(--color-green);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.35);
    transform: translateY(-1px);
}

/*
    About me
*/
.majors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    padding: 0 80px;
    margin: 2.5rem 0;
  }
  .major {
    list-style: none;
    flex: 1;
    min-width: 250px;
    background-color: var(--color-indie-pink);
    color: var(--color-white);
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.major__icon {
    font-size: 4rem;
    color: var(--color-white);
    margin: 1rem 0;
}
.major__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.jobs {
    text-align: start;
}
.job {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}
.job__name {
    color: var(--color-primary);
}
.job__period {
    font-size: 0.8rem;
    color: var(--color-primary);
}

/*
    Skills
*/
#skill {
    background-color: #032c1e;
    color: var(--color-text);
}
.skills {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}
.skill__title {
    color: var(--color-white);
    font-size: 1.2rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-white) ;
}
.skill__title ~ ul {
    margin-top: 15px;
}

.sklls__coding {
    grid-row: span 2;
    background-color: rgba(255,255,255,0.1);
    padding: 1rem;
}
.skills__tools {
    padding: 1rem;
    background-color: rgba(214,174,211,0.6);
}
.skills__etc {
    padding: 1rem;
    background-color: rgba(233, 228, 199, 0.5);
    /* filter: brightness(150%); */
}
.bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
}
.bar__metadata {
    display: flex;
    justify-content: space-between;
}
.bar__bg {
    width: 100%;
    height: 3px;
    background-color: var(--color-gray);
}
.bar__value {
    height: 3px;
    background-color: var(--color-white);
}

/*
    work
*/
#work {
    position: relative;
    background-color: #424240;
    color: var(--color-text);
    z-index: 0;
  }

.categories {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2.5rem 0;
}
.category {
    color: var(--color-text);
    padding: 0.5rem 3rem;
    border: 1px solid var(--color-text);
    border-radius: 4px;
    font-size: 1.1rem;
    position: relative;
}
.category--selected {
    /* color: var(--color-primary); */
    background-color: rgba(219,218,218,0.5);
}
.category__count {
    position: absolute;
    top: -20px;
    right: 16px;
    background-color: var(--color-orange);
    color: var(--color-text);
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    opacity: 0;
    transition: all 1000ms ease;
}
.category--selected .category__count,
.category:hover .category__count {
    opacity: 1;
    top: 0;
}
.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 1rem;
}
.project {
    align-items: center;
    position: relative;
    overflow: hidden;
}

.project a {
    color: white;
  }
  
.project__img {
    width: 100%;
    height: 80%;
    border-radius: 8px;
    object-fit: cover;
}
.project__metadata {
    /* border: 2px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: var(--color-primary);
    gap: 5px;
}
.project__metadata__title {
    position: relative;
    text-align: center;
    padding-bottom: 15px;
}

.project__metadata__title::after {
    content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: var(--color-white);
  margin : 10px 0;
}
.project__metadata:hover {
    opacity: 0.8;
}



/*
    Arrow-up
*/
.arrow--up {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    color: var(--color-text);
    font-size: 3rem;
    width: 4.5rem;
    height:4.5rem;
    background-color: #424240;
    text-align: center;
    border-radius: 100%;
    box-shadow: 5px 5px 0px 0px #e9e4c7;   
    display: flex;              
    align-items: center;      
    justify-content: center;   
}

/*
    Footer
*/
#contact {
    margin-top: 100px;
    background-color: var(--color-indie-pink);
    color: var(--color-text);
}
.contact__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 3rem;
    padding: 1rem;
}
.contact__link {
    color: var(--color-white);
    margin: 0;
    padding: 0;
    display: inline-flex; 
}
.contact__link:hover {
    color: var(--color-white);
}


/**********************************
    media screen - 768 ✖ 1024
**********************************/
@media screen and (max-width : 768px) {
    .section {
        padding: 3rem 2rem;
    }
    .title {
        font-size: 2rem;
        
    }

    .avatar_wrap {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;      
      padding: 0 1rem;   /* 좌우 여백 */
      box-sizing: border-box; 
    }
  
    .home__title {
      text-align: center; 
    }

    .description {
        font-size: 1rem;
    }
    .header {
        flex-direction: column;
        align-items: start;
        position: relative;
    }
    .header__toggle {
        display: block;
    }
    .header__menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--color-yellow);
        padding: 1rem;
        position: absolute;
        top: 4rem;
        left: 0;
      }
     /* 햄버거 메뉴가 열렸을 때 보이게 하는 스타일 */
     .header__menu.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(233, 228, 199, 0.9);
        padding: 10px 5px 30px 5px;
        gap: 1.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 999;
        backdrop-filter: blur(4px);
        align-items: flex-end;
        text-align: right;   
      }
      
    #home {
        padding: 4rem 2.5rem;
    }
    .home__title {
        font-size: 2rem;
        margin-top: 1.5rem;
    }
    .home__title--strong {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
    .majors {
        flex-direction: column;
        align-items: center;
        padding: 0 !important;
    }
    .major {
        width: 25rem;
    }
    .job {
        justify-content: center;
    }
    .skills {
        grid-template-columns: 1fr;
    }
    .categories {
        flex-direction: column;
    }
    .category {
        width: 100%;
    }
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    .testimonial {
        flex-direction: column;
    }
    .testimonial:nth-child(even) .testimonial__img {
        order: 0;
    }
    .arrow--up {
        bottom: 1.5rem;
        right: 2rem;
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
    }

}




/**********************************
    media screen - 412 
**********************************/
@media screen and (max-width : 412px) {
    .section {
        padding: 1.5rem 1rem;
    }
    .title {
        font-size: 1.5rem;
    }
    .description {
        font-size: 1rem;
    }

    .avatar_wrap {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1.5rem;
    }
  
    .home__title {
      text-align: center;
    }
    .header {
        flex-direction: column;
        align-items: start;
    }
    .header__toggle {
        display: block;
    }
    .header__menu {
        display: none;
    }
    .header__logo__title {
        font-size: 1.3rem;
    }
    #home {
        padding: 5rem 1.5rem;
    }
    .home__avatar {
        width: 150px;
        height: auto;
    }
    .home__title {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }
    .home__description {
        font-size: 1rem;
      }
      .home__contact {
        font-size: 0.8rem;
        padding: 0.3rem 0.7rem;    
      }
      .major {
        width: 100%;
      }
      .major__title {
        font-size: 1.2rem;
      }
      .projects {
        grid-template-columns: repeat(1, 1fr);
      }
      .testimonial {
        flex-direction: column;
      }
      .testimonial:nth-child(even) .testimonial__img {
        order : 0;
      }
      .arrow--up {
        bottom: 1.5rem;
        right: 2rem;
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
      }
    
}
